Package: com.packetfahrer.SwipeToDeleteContact
Name: SwipeToDeleteContact
Depends: mobilesubstrate, firmware (>= 8)
Architecture: iphoneos-arm
Description: Delete Contacts with Swipe!
Author:  Rene Kahle <packetfahrer@web.de>
Maintainer: sst1337
Section: Tweaks
Version: 1.0.5
Installed-Size: 824
